<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                            http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- This is an example of an application-wide init
    param. It's called a ServletContext init param. You can
    have as many init params as you want but there is only one
    servlet context object; remember, all of these params are
    global to your app and can be accessed from any JSP page or
    servlet. -->
    <listener>
        <listener-class>
            edu.wctc.distjava.veki.vv.bookwebapp.listeners.CustomSessionListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            edu.wctc.distjava.veki.vv.bookwebapp.listeners.CustomServletContextListener
        </listener-class>
    </listener>
    <context-param>
        <param-name>connPoolName</param-name>
        <param-value>jdbc/book</param-value>
    </context-param>
    <context-param>
        <param-name>authorDao</param-name>
        <param-value>edu.wctc.distjava.veki.vv.bookwebapp.model.ConnPoolAuthorDao</param-value>
    </context-param>
    <context-param>
        <param-name>dbStrategy</param-name>
        <param-value>edu.wctc.distjava.veki.vv.bookwebapp.model.MySqlDbAccessor</param-value>
    </context-param>
    <context-param>
        <param-name>driverClass</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/book</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>admin</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
